.calendar {
margin-top: 20px;
}

.calendarHeader {
    display: flex;
}

.calendarHeaderControl {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.calendarHeaderControl svg{
    width: 22px;
    height: 22px;
    margin-top: 5px ;
}

.calendarBody {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px 43px;

}

.dayButton {
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #323F47;
}

.btnWithData {
    background-color: rgba(50, 63, 71, 0.30);
}

.todayButton {
    color: #9BE1A0;
    background-color: #323F47;
}

.disabledBtn {
    cursor:not-allowed;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    background-color: transparent;
    border: none;
}

.dayInfo p {
    color: #2f2f2f;
    opacity: 0.6;
}

.dayButton:hover {
    background-color: #e0e0e0;
}
