.modal {
  font-family: Inter, system-ui,Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:black;
}

.modal-content {
  max-width: 516px;
  width: 100%;
  height: 244px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 15px;
   
}

.modal-content h2 {
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    color: #323F47;
}

.modal-content p {
    text-align: center;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #323F47;
}


.accept {
    width: 170px;
    height: 60px;
    border-radius: 30px;
    font-weight: 700;
    
    margin-right: 5px;
   margin-bottom: 40px;
    margin-left: 80px;
    border: 1px solid #87D28D;
    background: #9BE1A0;
   
}

.accept:hover {
    background: #87D28D;
}

.reject {
    width: 170px;
    height: 60px;
    border-radius: 30px;
    font-weight: 700;
    
   margin-right: 80px; 
    margin-bottom: 40px;
   margin-left: 5px;
   border: 1px solid #F0EFF4;
   background-color: #F0EFF4;
   color: #323F4733

} 

.reject:hover {
    color: #323F47;
}