.section {
    box-sizing: border-box;
    padding: 24px 16px 32px 16px;
    background: #F0EFF4;
    border-radius: 30px;
    width: 100%;
}


@media (min-width: 768px) {
    .section {
        padding: 32px;
    }
}


