.button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-left: auto;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    outline: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.icon {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    fill: white;
    border-radius: 50%;
}

.button:hover, .button:focus, .button:active {
    transform: translateY(1px);
}

.waterMainBtn {
    padding: 14px 20px 14px 20px;
    background: #323F47;
    color: white;
}

.waterMainBtn:hover, .waterMainBtn:focus, .waterMainBtn:active {
    color: #9BE1A0;
}

.waterMainBtn:hover .icon, .waterMainBtn:focus .icon, .waterMainBtn:active .icon {
    fill: #9BE1A0;
}

.waterDailyBtn .icon {
    width: 30px;
    height: 30px;
    background: #9BE1A0;
}

.waterDailyBtn {
    padding: 0;
    background-color: transparent;
    color: #323F47;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.waterDailyBtn:hover .icon, .waterDailyBtn:focus .icon, .waterDailyBtn:active .icon {
    background: #323F47;
}


@media (min-width: 768px ) {
    .button {
        padding: 18px 30px 18px 30px;
        font-size: 16px;
        line-height: 24px;
    }

    .waterMainBtn {
        width: 180px;
    }

    .waterDailyBtn {
        padding:0;
        text-align: center;
        font-size: 18px;
    }
}
