 
.logo {
  z-index: 999;
  color: #323f47;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 28px;
  }
}