.welcomeSection {
  border-radius: 30px;
    background: var(--background);
    height: 411px;
    padding: 24px 16px 16px;
    margin-bottom: 16px;
}
 

.text {
  margin-top: 70px;
  color: black;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}

.mainTitle {
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: -0.16px;
  color: #323f47;
width: 311px;
  box-sizing: border-box;
}
.linkThumb {
  display: flex;
  gap: 10px;
  max-height: 90px;
  width: 100%;
  box-sizing: border-box;
}

.linkSignIn {
  width: 104px;
  display: flex;
  padding: 14px 27px;
  justify-content: center;
  align-items: center;
  color: #323f47;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  border-radius: 30px;
  border: 1px solid;
  transition: border 150ms ease-in, color 150ms ease-in;
}

.linkTracker,
.linkSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #323f47;
  text-align: center;
}

.linkSignIn:hover,
.linkSignIn:focus,
.linkSignIn:active {
  border: 1px solid #87d28d;
  color: #87d28d;
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .welcomeSection {
    width: 704px;
    height: 498px;
    padding: 32px 32px 16px 32px;
  }
  

  .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: 32px;
    margin-top: 58px;
  }

  .mainTitle {
    font-size: 64px;
    line-height: 70px;
    padding-left: 32px;
    margin-top: 16px;
  }

  .linkSignIn {
    width: 135px;
    padding: 18px 39px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

@media (min-width: 1440px) {
  .welcomeSection {
    padding: 188px 64px 188px 61px;
    margin: 0;
    min-width: 672px;
    height: 736px;
    margin-right: 24px;
  }
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 150px;
  margin-top: -160px;
  margin-left: -25px;
  color: #323f47;
}

  .mainTitle {
    font-size: 80px;
    line-height: 76px;
    letter-spacing: -0.8px;
  }
  .text{
    margin-top: 0;
  }
}

@media screen and (max-width: 330px) {
  .mainTitle {
    font-size: 30px;
  }
}

@keyframes filter {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.button {
  display: flex;
  text-align: center;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  color: #323f47;
  /* font-size: 14px; */
  padding: 18px 40px;
  box-shadow: inset 0 0 0 1px #323f47;
  position: relative;
  overflow: hidden;
  z-index: 10;
  border-radius: 30px;
  /* display: inline-block; */
}

.button:hover .button_circle {
  transform: scale(600);
  animation: none;
  background: #87d28d;
}

.button_circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  transform: scale(0);
  background: linear-gradient(to right, #87d28d, #9be1a0);
  border-radius: 50%;
  transition: transform 0.6s ease, background 0.6s ease;
  z-index: -1;
  animation: filter 5s infinite;
  animation-play-state: paused;
}

.button_text {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.linkTracker {
  display: flex;
  text-align: center;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  color: #323f47;
  /* font-size: 14px; */
  padding: 18px 40px;
  background-color: #9be1a0;
  position: relative;
  overflow: hidden;
  z-index: 10;
  border-radius: 30px;
  /* display: inline-block; */
}

.signup_button_circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  transform: scale(0);
  background: linear-gradient(to right, #87d28d, #9be1a0);
  border-radius: 50%;
  transition: transform 0.6s ease, background 0.6s ease;
  z-index: -1;
  animation: filter 5s infinite;
  animation-play-state: paused;
}

.signup_button_text {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.linkTracker:hover .signup_button_circle {
  transform: scale(600);
  animation: none;
  background: #87d28d;
}
