.main-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1000;
  padding: 40px;
  overflow-y: auto; 
  overflow-x: hidden; 
}

.setting {
    align-items: baseline;
    margin-bottom: 20px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  width: 90%;
  max-width: 840px;
  margin: 20px;
  max-height: 80vh; 
   overflow-y: auto; 
  overflow-x: hidden; 
}

.close {
   position: absolute;
    top: 28px;
    right: 28px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:black;
}