.signInForm {
  margin: 0 auto;
}

.signInFormHeader {
  font-weight: 700;
  color: var(--main);
}

.signInFormLabel {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  color: var(--main-text);
}

.signInFormInput {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #2f2f2f33;
  border-radius: 15px;
  background-color: var(--background);
  color: #2f2f2f99;
  text-align: left;
  outline: none;
}

.signInFormInput:hover,
.signInFormInput:active,
.signInFormInput:focus {
  color: var(--main-text);
  border: 1px solid #2f2f2f33 !important;
}

.signInBtn {
  background-color: var(--accent);
  font-weight: 700;
  border: none;
  border-radius: 30px;
}

.signInBtn:hover {
  background-color: var(--accent-hover);
}

.SignInPageLink {
  text-decoration: underline;
  color: var(--main-text);
  font-weight: 700;
}

.signInPageText {
  text-align: center;
  color: #2f2f2f80;
}

.error {
  color: red;
}

.error .signInFormInput {
  border-color: red;
}

.error .signInFormInput:active {
  border-color: red;
}

.errorInput {
  border-color: red;
}

.errorPlaceholder::placeholder {
  color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.inputContainer {
  position: relative;
}

.togle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  body {
    zoom: 0.85;
  }

  .signInForm {
    width: 312px;
  }

  .signInFormHeader {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-top: 172px;
    margin-bottom: 32px;
  }

  .signInFormLabel {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .signInFormInput {
    width: 312px !important;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    padding-left: 16px;
  }

  .signInBtn {
    margin-top: 32px;
    width: 312px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .signInForm {
    width: 436px;
    margin-top: 225px;
  }

  .signInFormHeader {
    color: var(--main);
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 32px;
  }

  .signInFormLabel {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .signInFormInput {
    position: relative;
    width: 436px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 16px 0px 16px 16px;
    /* margin-bottom: 20px; */
  }

  .signInBtn {
    margin-top: 32px;
    background-color: var(--accent);
    width: 436px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .signInForm {
    width: 436px;
  }

  .signInFormHeader {
    font-size: 36px;
    margin-top: 113px;
    margin-bottom: 32px;
  }

  .signInFormLabel {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .signInFormInput {
    position: relative;
    width: 436px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    padding: 16px 0px 16px 16px;
  }

  .signInBtn {
    margin-top: 32px;
    background-color: var(--accent);
    width: 436px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    margin-bottom: 16px;
  }

  .SignUpPageLink {
    text-decoration: underline;
    color: var(--main-color);
    font-weight: 700;
  }
}
