:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main: #323f47;
  --main-text: #2f2f2f;
  --accent: #9be1a0;
  --accent-hover: #87d28d;
  --background: #f0eff4;
  --main-white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-white);
  overflow-x: hidden;
}

.main {
  width: 100%;
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-white);
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  body {
  }
}

@media screen and (min-width: 320px) and (max-width: 767.99px) {
  .main {
    max-width: 375px;
    padding: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.99px) {
  .main {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    max-width: 1440px;
    padding: 32px;
  }
  body{
    justify-content: center;
  }
}