.progressBar {
    width: 175px;
    height: 6px;
    margin-bottom: 8px;
    background: #F0EFF4;
    border-radius: 9px;
    overflow: visible;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #9BE1A0;
    position: relative;
    border-radius: 9px;
    display: flex;
    align-items: center;
}

.progressIndicator {
    width: 12px;
    height: 12px;
    background: white;
    border: 1px #9BE1A0 solid;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.milestone {
    color: #9BE1A0;
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    position: absolute;
    top: 200%;
    transform: translateY(50%);
    white-space: nowrap;
}

@media (min-width: 768px) {
    .progressBar {
        height: 8px;
        width: 255px;
    }

    .milestone {
        color: #9BE1A0;
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
        top: 110%;
    }
}
