.googleLoginConteiner{
    display: flex;
    align-items: center;
    justify-content: center; 
}


.googleLoginButton {
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 30px;
}
