.buttonStyle {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
  color-scheme: none;
}

.iconns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #9be1a0;
  border-radius: 50%;
  stroke-width: 1px;
  transition: background-color 0.3s, stroke 0.3s;
}
.iconns:hover {
  background-color: #323f47;
}

.textStyle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}
