.buttonStyle {
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.iconStyle:hover {
  background-color: #6c757d;
}

.iconStyle {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  transition: fill 0.3s ease;
}

.buttonStyle:hover .iconStyle {
  fill: #6c757d;
}

.textStyle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}
